.currentWeatherSection {
  display: flex;
  flex-flow: row nowrap;
  color: white;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 10px 0px 0px;
}

.currentWeatherSection span:last-child {
  margin-left: 10px;
}

.currentTimeSection div {
  font-size: 150px;
  color: white;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.currentUserSection {
  margin-top: 10px;
  margin-bottom: 25px;
  color: white;
}

.currentUserInput form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 2em;
}

.currentUserInput form input {
  border: none;
  outline: none;
  border-bottom: white 2px solid;
  font-size: 1em;
  color: white;
  text-align: center;
}

.welcomeUser {
  font-size: 3em;
}

.toDoListSection {
  font-size: 2em;
  color: white;
}

.toDoListInput Form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.toDoListInput Form input {
  width: 550px;
  margin-top: 15px;
  border-bottom: white 2px solid;
  font-size: 1em;
  color: white;
  text-align: center;
}
