.indexMain {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.currentTimeSection div {
  font-size: 120px;
}

.currentUserSection {
  margin-top: 20px;
}

.currentUserInput form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  font-size: 40px;
}

.currentUserInput form input {
  border: none;
  outline: none;
  border-bottom: black 2px solid;
  font-size: 40px;
}

.welcomeUser {
  font-size: 30px;
}
